@use './constant.scss';

.root {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  & h1 {
    border-bottom: 2px solid constant.$light_color;
    display: inline;
  }
  margin-bottom: 30px;
}

.img {
  margin-bottom: 5px;
  margin-left: 20px;
  box-shadow: 3px 3px 5px constant.$dark_color;
  width: 250px;
  border-radius: 5px;
  float: right;
}

@media only screen and (max-width: constant.$break_point_mobile) {
  .img {
    width: 200px;
    float: none;
    margin: 0px;
  }
  .mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.mainContent {
  width: 100%;
}

.programmingLangContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@media only screen and (max-width: constant.$break_point_tablet) {
  .programmingLangContainer {
    clear: right;
  }
}

.programmingLang {
  &::before {
    content: "# ";
  }
  color: constant.$main_color;
  margin: 3px 5px;
  border: 1px solid constant.$main_color;
  padding: 5px;
  white-space: nowrap;
  border-radius: 5px;
}

.libraries {
  &::before {
    content: "# ";
  }
  color: constant.$main_color;
  margin: 3px 5px;
  border: 1px solid constant.$main_color;
  padding: 5px;
  white-space: nowrap;
  border-radius: 5px;
  filter: hue-rotate(45deg)
}