// color palette 
$base_color: #0f1626;
$dark_color: #332e3c;
$main_color: #1E96FC;
$light_color: #FF8C42;
$white_color: #F6F0ED;


// responsive conf.
$break_point_laptop: 1280px;
$break_point_tablet: 767px;
$break_point_mobile: 480px;

$nav-bar-height: 60px;