@use './constant.scss';

.root {
  padding: 0px 15px 15px;
  min-height: 100vh;
}

@media only screen and (min-width: constant.$break_point_mobile) {
  .root{
    padding: 0px 30px 30px;
  }
}

@media only screen and (min-width: constant.$break_point_tablet) {
  .root {
    margin: auto;
    padding: 0px;
    padding-bottom: 30px;
    width: 700px;
  }
}

@media only screen and (min-width: constant.$break_point_laptop) {
  .root {
    width: 1000px;
  }
}