@use './constant.scss';
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');

.root {
  display: grid;
  grid-template-columns: 1fr 5fr;
  width: 100%;
}

@media only screen and (max-width: constant.$break_point_mobile) {
  .dateDisplay {
    & p {
      font-size: 0.9rem;
    }
  }
}

.dateDisplay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-right: 1px solid #FFFFFF33;
  & p {
    margin: 0;
    opacity: 0.5;
  }
}

.textContainer {
  margin-left: 10px;
  & h1 {
    margin: 0;
    margin-bottom: 10px;
    color: constant.$light_color;
  }
  & h2 {
    margin: 0;
    margin-bottom: 20px;
    opacity: 0.7;
  }
}

.nature {
  white-space: nowrap;
  font-family: "inconsolata" ,monospace;
  font-style: italic;
  color: constant.$white_color;
  opacity: 0.7;
  &::before {
    content: "// ";
    font-style: normal;
  }
}

.details > ul {
  padding-left: 12px;
  list-style-position: outside;
  & > li {
    &::before {
      content: "▷";
      position: absolute;
      left: -15px;
    }
    position: relative;
    list-style-type: none;
    padding-left: 5px;
  }
}