@use './constant.scss';

.root {
  display: grid;
  grid-template-columns: 1fr 5fr;
  width: 100%;
}

.dateDisplay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-right: 1px solid #FFFFFF33;
  & p {
    margin: 0;
    opacity: 0.5;
  }
}

.textContainer {
  margin-left: 10px;
  & h1 {
    margin: 0;
    font-size: 1.75rem;
    color: constant.$light_color;
  }
  & h2 {
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 20px;
    opacity: 0.7;
  }
}